In [1]:
import pandas as pd

In [19]:
df = pd.DataFrame(['A45','A37'],columns= ['context'])

In [20]:
df

  context
0     A45
1     A37

In [22]:
tens = {'1':' one','2':' two','3':' three','4':' four','5':' five','6':' six','7':' seven','8':' eight','9':' nine','0':' zero'}
for old, new in tens.items():
    df['context'] = df['context'].str.replace(old, new, regex=False)

In [23]:
df

         context
0    A four five
1  A three seven